<h1 align = "center"> All our users</h1>

<div align = 'center'>
 
 <%= will_paginate %>
 
   <% @users.each do |user| %>
   <div class = 'users-custom'>
    <div class = 'row'>
     <div class = 'col-xs-6 col-xs-offset-3'>
       <div class = 'well well-lg'>
        <ul>
         <li>
          <%= link_to user.username, user_path(user) %>
         </li>
         <li>
          <%= link_to gravatar_for(user), user_path(user) %>
        
         <% if logged_in? and current_user.admin? %>
           <%= link_to 'Delete this user', user_path(user), method: :delete, class: 'btn btn-danger'  %>
         <% end %>
         </li>
        </ul>
       </div>
     </div>
    </div>
   </div>
 
  <% end %>
 
 <%= will_paginate %>

</div>


